In [1]:
import boto3 #connect to aws services
import pandas as pd
from io import StringIO #encode data in binary form
import time

In [2]:
#copy credentials
AWS_ACCESS_KEY="AKIAS6D2JYLGCMUUTX54"
AWS_SECRET_KEY="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"
AWS_REGION="us-west-1"
SCHEMA_NAME="covid_database"
S3_STAGING_DIR="s3://covid19-athena-output/project-1-output/"
S3_BUCKET_NAME="covid19-athena-output"
S3_OUTPUT_DIRECTORY="project-1-output"

In [3]:
#connect to aws athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION
)

In [4]:
#code used from https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method 
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            #only returns 1000 results
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location
    )
    return pd.read_csv(temp_file_location)

In [5]:
#running queries
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [6]:
enigma_jhud=download_and_load_query_results(athena_client, response)

In [7]:
#check data
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Missouri,US,2020-03-16T17:13:23,38.456,-92.288,6.0,0.0,0.0,NaN,"""Missouri",csv
1,NaN,NaN,Channel Islands,United Kingdom,2020-03-16T14:38:45,49.372,-2.364,6.0,0.0,0.0,NaN,"""Channel Islands",csv
2,NaN,NaN,NaN,Uzbekistan,2020-03-16T14:38:45,41.377,64.585,6.0,0.0,0.0,NaN,Uzbekistan,csv
3,NaN,NaN,Nova Scotia,Canada,2020-03-16T17:53:03,44.682,-63.744,5.0,0.0,0.0,NaN,"""Nova Scotia",csv
4,NaN,NaN,NaN,Ethiopia,2020-03-16T14:38:45,9.145,40.490,5.0,0.0,0.0,NaN,Ethiopia,csv

In [8]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_nytimes_data_in_usa_us_county", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
enigma_nytimes_data_in_usa_us_county=download_and_load_query_results(athena_client, response)

In [9]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_nytimes_data_in_usa_us_states", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
enigma_nytimes_data_in_usa_us_states=download_and_load_query_results(athena_client, response)

In [10]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_states_daily=download_and_load_query_results(athena_client, response)

In [11]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_us_daily=download_and_load_query_results(athena_client, response)

In [12]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_us_total_latest=download_and_load_query_results(athena_client, response)

In [13]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_usa_hospital_beds=download_and_load_query_results(athena_client, response)

In [14]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrycode", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_countrycodes=download_and_load_query_results(athena_client, response)

In [15]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countypopulation", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_countypopulation=download_and_load_query_results(athena_client, response)

In [16]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_state_abv", #SQL Query
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_state_abv=download_and_load_query_results(athena_client, response)

In [17]:
#fix column headers for static_datasets_state_abv
new_header=static_datasets_state_abv.iloc[0] #grab the first row for the header
static_datasets_state_abv=static_datasets_state_abv[1:]
static_datasets_state_abv.columns=new_header

In [18]:
#check to make sure the headers are correct now
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [19]:
#transform relational model to dimension model

# 1. Create factCovid Table
factCovid_1=enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2=rearc_covid_19_testing_data_states_daily[['fips', 'date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizeddischarged']]

In [20]:
factCovid=pd.merge(factCovid_1[pd.notnull(factCovid_1.fips)], factCovid_2, on='fips', how='inner')
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210219,98624,305972.0,214.0,NaN,NaN
1,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210218,98506,305972.0,233.0,NaN,NaN
2,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210217,98428,305972.0,241.0,NaN,NaN
3,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210216,98317,305972.0,220.0,NaN,NaN
4,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210215,97837,305972.0,209.0,NaN,NaN

In [21]:
dimRegion_1=enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2=enigma_nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion=pd.merge(dimRegion_1[pd.notnull(dimRegion_1.fips)], dimRegion_2, on='fips', how='inner')

dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,36059.0,New York,US,40.655,-73.559,Nassau,New York
1,36059.0,New York,US,40.655,-73.559,Nassau,New York
2,36059.0,New York,US,40.655,-73.559,Nassau,New York
3,36059.0,New York,US,40.655,-73.559,Nassau,New York
4,36059.0,New York,US,40.655,-73.559,Nassau,New York

In [22]:
dimHospital=rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude', 'hq_address', 'hospital_type', 'hospital_name', 'hq_city', 'hq_state']]
dimHospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_type,hospital_name,hq_city,hq_state
0,4013.0,Arizona,33.495498,-112.066157,650 E Indian School Rd,VA Hospital,Phoenix VA Health Care System (AKA Carl T Hayd...,Phoenix,AZ
1,4019.0,Arizona,32.181263,-110.965885,3601 S 6th Ave,VA Hospital,Southern Arizona VA Health Care System,Tucson,AZ
2,6019.0,California,36.773324,-119.779742,2615 E Clinton Ave,VA Hospital,VA Central California Health Care System,Fresno,CA
3,9009.0,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Hospital,VA Connecticut Healthcare System - West Haven ...,West Haven,CT
4,10003.0,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,VA Hospital,Wilmington VA Medical Center,Wilmington,DE

In [23]:
dimDate=rearc_covid_19_testing_data_states_daily[['fips','date']]
dimDate.head()

   fips      date
0  49.0  20210220
1  51.0  20210220
2  78.0  20210220
3  50.0  20210220
4  53.0  20210220

In [24]:
#correct date inside dimDate
dimDate['date']=pd.to_datetime(dimDate['date'], format='%Y%m%d')

<ipython-input-24-409d8ffc42ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date']=pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [25]:
dimDate['year']=dimDate['date'].dt.year
dimDate['month']=dimDate['date'].dt.month
dimDate["day_of_week"]=dimDate['date'].dt.dayofweek

<ipython-input-25-6ac5d0d3ce63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year']=dimDate['date'].dt.year
<ipython-input-25-6ac5d0d3ce63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month']=dimDate['date'].dt.month
<ipython-input-25-6ac5d0d3ce63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate["day_of_week"]=dimDate['date'].dt.dayofweek

In [26]:
dimDate.head()

   fips       date  year  month  day_of_week
0  49.0 2021-02-20  2021      2            5
1  51.0 2021-02-20  2021      2            5
2  78.0 2021-02-20  2021      2            5
3  50.0 2021-02-20  2021      2            5
4  53.0 2021-02-20  2021      2            5

In [27]:
#save all data to s3 bucket
final_output_bucket = 'alora-project-1-bucket'

In [28]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3',
                            aws_access_key_id=AWS_ACCESS_KEY,
                            aws_secret_access_key=AWS_SECRET_KEY
                            )
s3_resource.Object(final_output_bucket, 'final-output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'X514XZEQ6AT068EK',
  'HostId': '11rH/5XFh5HyLUorftGUEZrnHkVopvZN+zS4QuhLLc/y8AQYYqSPJOvU6fMKZ1cjFC1h8HLnSnk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '11rH/5XFh5HyLUorftGUEZrnHkVopvZN+zS4QuhLLc/y8AQYYqSPJOvU6fMKZ1cjFC1h8HLnSnk=',
   'x-amz-request-id': 'X514XZEQ6AT068EK',
   'date': 'Fri, 17 Dec 2021 03:48:10 GMT',
   'etag': '"d4e87d87a27588057c20bebaaaf27ecd"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"d4e87d87a27588057c20bebaaaf27ecd"'}

In [29]:
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3_resource.Object(final_output_bucket, 'final-output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'X514V8KHK1R8QQFJ',
  'HostId': 'iiv/iRjGwnRZYBr2FfXw6euXMKhIN1Pe/hjQmVTF12Vir/Qb3Do1kegjQtSt7yjjGBDK9AcLIpk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'iiv/iRjGwnRZYBr2FfXw6euXMKhIN1Pe/hjQmVTF12Vir/Qb3Do1kegjQtSt7yjjGBDK9AcLIpk=',
   'x-amz-request-id': 'X514V8KHK1R8QQFJ',
   'date': 'Fri, 17 Dec 2021 03:48:10 GMT',
   'etag': '"0e0ad93ebf5afcbc45850b27340ad485"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"0e0ad93ebf5afcbc45850b27340ad485"'}

In [30]:
csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3_resource.Object(final_output_bucket, 'final-output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'X51BEAS9S1K80WKX',
  'HostId': 'q7i19QMA71DJhoFn4uEM21v08XrTuMxdat3x68RBChmPr5zjIDkDM7UJGMeKM9Kh4CDBHOE3lic=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'q7i19QMA71DJhoFn4uEM21v08XrTuMxdat3x68RBChmPr5zjIDkDM7UJGMeKM9Kh4CDBHOE3lic=',
   'x-amz-request-id': 'X51BEAS9S1K80WKX',
   'date': 'Fri, 17 Dec 2021 03:48:10 GMT',
   'etag': '"3e09cec2d0c1cc0b01a8182608cfa78d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"3e09cec2d0c1cc0b01a8182608cfa78d"'}

In [31]:
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3_resource.Object(final_output_bucket, 'final-output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'ZB85NJF11EKGES3C',
  'HostId': 'pv7/aDhswGNQc9yV0mmjyyvwFmjVlA02uILDLyrHMHAS8okLqhfUc9ECFNw422I71E4gYF8KjZg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'pv7/aDhswGNQc9yV0mmjyyvwFmjVlA02uILDLyrHMHAS8okLqhfUc9ECFNw422I71E4gYF8KjZg=',
   'x-amz-request-id': 'ZB85NJF11EKGES3C',
   'date': 'Fri, 17 Dec 2021 03:48:23 GMT',
   'etag': '"92ccf989cb80d38354a10b0c3415a8a7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"92ccf989cb80d38354a10b0c3415a8a7"'}

In [32]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [33]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [34]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [35]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [56]:
#used to connect to redshift
import redshift_connector

In [42]:
conn = redshift_connector.connect(
    host='project-1-redshift-cluster.cuv7m5gufqqz.us-west-1.redshift.amazonaws.com',
    database='dev',
    user="awsuser",
    password="Passw0rd123"
)

In [44]:
#make sure everything we write automatically saves to the cluster
conn.autocommit = True

In [45]:
#create cursor to execute queries on to the redshift db
cursor = redshift_connector.Cursor = conn.cursor()

In [46]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [47]:
cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [48]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

In [49]:
cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [55]:
#copy data from s3 to redshift
cursor.execute("""
copy dimDate from 's3://alora-project-1-bucket/final-output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::202119955148:role/redshift-s3-access'
delimiter ','
region 'us-west-1'
IGNOREHEADER 1
""")